[Desktop Entry]
Comment[en_US]=Launch SkoutZ normal bot
Comment=Launch SkoutZ normal bot
Exec=/home/panda/Documents/PythonScripts/SKOUT/run_skout_bot.sh
GenericName[en_US]=
GenericName=
Icon=/home/panda/Documents/PythonScripts/SKOUT/Skout_square_logo_vector.svg
MimeType=
Name[en_US]=SkoutZ
Name=SkoutZ
Path=/home/panda/Documents/PythonScripts/SKOUT
StartupNotify=true
Terminal=true
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
